{{> head }}
    
    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Harley Queen</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, iure? Iusto, unde asperiores aperiam est officia minus officiis optio quia perferendis ullam! Quod repudiandae suscipit eaque dolor neque alias numquam.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/i.jpg" alt="" class="img-thumbnail">
        </div>

    </div>

{{> footer }}